<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Reactive Error</title>
		<link
			href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap"
			rel="stylesheet"
		/>
		<link
			href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/static/css/main.css" media="all" />
		<link
			rel="stylesheet"
			href="/static/css/font-awesome.min.css"
			media="all"
		/>
		<link rel="stylesheet" type="text/css" href="../static/css/m.css" />
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<nav
			class="navbar navbar-expand-lg  bg-light fixed-top justify-content-end"
		>
			<a
				class="navbar-brand"
				href="#"
				style="font-family: 'Bowlby One SC', cursive;"
				>Reactive Error</a
			>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div
				class="collapse navbar-collapse justify-content-end"
				id="navbarNavAltMarkup"
			>
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="#">Dashboard</a>
					<a class="nav-item nav-link" href="{{url_for('verification')}}">Create Node</a>
					<a class="nav-item nav-link" href="{{url_for('create_batch')}}">Create Batch</a>
					<a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
				</div>
			</div>
		</nav>

		<div class="container login-container">
			<div id="admin-part" class=" login-form-1">
				<h1>Batches</h1>
				<div class="container" id="cd">
						<a href="/node/accept-batch" class="btn btn-success" style="margin-bottom: 2rem;" >
					
						 Accept</a>
										{%for batch in batchs%}
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">{{batch[1]}}</h4>
								<p class="card-text">
									<span>id : {{batch[0]}}</span>
								</p>
								<a href="/batch/{{batch[0]}}" class="btn btn-success"
									>View Batch</a
								>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
			</div>
		</div>
	</body>
</html>
